<div class="jumbotron">
  <h1>Success !</h1>
  <p class="lead">Your Bitcoin address is <%= currentUser.address %></p>
  <p>Sign in count : <%= currentUser.signinCount %></p>
  <p><a class="btn btn-lg btn-success" href="/logout" data-method="delete" role="button">Log out</a></p>
</div>
